{% extends "academia/base.html" %}
{% block body %}

<div style='--bg:#2196f3;' class='register__h1'><h1>Editar Senha</h1> </div>
    <br>
    <form action="" method="POST">
    {% csrf_token %}
        <div class='inputContainer'>
            <div class="inputContainer">
                <input required="required" class="inputField" type="password" placeholder="Nova Senha" name='new_password1'>
                <label class="usernameLabel" for="inputField">Nova Senha</label>
                <div style='--bg:#00ddcb;' class="userIcon"><ion-icon name="key-outline"></ion-icon></div>
            </div>
            <div class="inputContainer">
                <input required="required" class="inputField" type="password" placeholder="Confirmar Senha" name='new_password2'>
                <label class="usernameLabel" for="inputField">Confirmar Password</label>
                <div style='--bg:#00ddcb;' class="userIcon"><ion-icon name="key-outline"></ion-icon></div>
            </div>
        </div>  
        <div class="register__btnContainer">
            <button style='--bg:#00ddcb;' type="submit" class='btn__register'>Salvar</button>
        </div>
    </form>

{% endblock %}